@import "tailwindcss";

:root {
  --font-mulish: "Mulish", sans-serif;
}

* {
  font-family: var(--font-mulish), sans-serif !important;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background: #0f1115;
}

/* Performance optimizations */
textarea,
input {
  will-change: contents;
  contain: layout style;
}

.fixed {
  will-change: transform;
  contain: layout;
}

.bubble-loader {
  width: 10px;
  height: 10px;
  background-color: #b6beb5;
  border-radius: 50%;
  animation: bubblePulse 1.2s infinite ease-in-out;
  margin: 10px auto;
}

@keyframes bubblePulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.6;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

:root {
  color-scheme: dark;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite linear;
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.animate-slide-up {
  animation: slideUp 0.8s ease-out forwards;
}

/* Global Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
